@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'FontAwesome';
    src: url('css/fonts/fontawesome-webfont.eot?v=4.2.0');
    src: url('css/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('css/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('css/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'xtreem_medium_demoregular';
    src: url('css/fonts/xtreem_medium_demo-webfont.eot');
    src: url('css/fonts/xtreem_medium_demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('css/fonts/xtreem_medium_demo-webfont.woff2') format('woff2'),
         url('css/fonts/xtreem_medium_demo-webfont.woff') format('woff'),
         url('css/fonts/xtreem_medium_demo-webfont.ttf') format('truetype'),
         url('css/fonts/xtreem_medium_demo-webfont.svg#xtreem_medium_demoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
a 
{
    outline: none !important;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
p {
    color: #555555;
    font-size: 14px;
    line-height: 23px;
}
p span {
    font-weight: bold;
}
.ngg-album-compact p{
    display: none !important;
}
.formError{
    left: 0px !important;
    top: 67px !important;
}
.full-img img{
    width:100%;
    height: auto;
}
.no_left_padding {
    padding-left: 0;
}
.no_right_padding {
    padding-right: 0;
}
.tab-block h3 a{
    color:#004600;
}
.tab-block h3:hover a{
    color: #748c74;
}
.cl_both{
    clear: both;
}
/*.why_choose_content .block:nth-child(2n){
    background: #000 !important;
}
*/

.jwlogo{
    display:none;
}
.nav li .sub-menu {
    background: #0061ae none repeat scroll 0 0;
    margin-top: 0;
    min-width: 255px;
    padding: 0;
    position: absolute;
    z-index: 999;
    left: 15px;
    height: 0;
    overflow: hidden;
    transition: all 0.6s ease-in-out 0s;
}
.nav li:hover .sub-menu {
    height: auto;
}
.sub-menu li {
    background: #0061ae;
    display: block;
    float: none !important;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-transform: none;
}
.sub-menu li:last-child a {
    border-bottom: none;
}
.sub-menu li a {
    border-bottom: 1px solid #c6dade;
    color: #ffffff;
    display: block;
    font-size: 17px;
    padding: 8px;
    white-space: nowrap;
}
/*-------menu-tab-----------*/
.menu-hide img, .menu-hide p{
    display:none;
}
.dropdown-menu .nav-tabs{
    float:left;
    width:20%;
    border-bottom:none;
}
.dropdown-menu .nav-tabs > li{
    float:none;
}
.dropdown-menu .tab-content{
    float:left;
    width:80%;
    padding:0 15px 15px;
}
.dropdown-menu .nav-tabs > li > a i{
    float:right;
}
.dropdown-menu .nav-tabs > li > a{
    color:#777;
    border-radius:0;
    border:none;
}
.dropdown-menu .nav-tabs > li.active > a, .dropdown-menu .nav > li > a:focus, .nav > li > a:hover{
    color:#333;
    border:none;
}
.tab-block img{
    margin-bottom:13px;
    width:100%;
    height:auto;
}
.tab-block h3:before{
    content:"» ";
}
.tab-block h3{
    font-weight:normal;
}
.navbar-inverse .navbar-nav > li:hover > a{
    color: #7afdd3;
}

.tab-content ul{
    padding-left:0;
    margin-top:10px;
}
.tab-content ul li{
    list-style:none;
    float:left;
    margin-right:25px;
}
.tab-content ul li h3 a{
    font-weight:normal;
}

/*-----banner--------*/
.banner-wrapper {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.adv_search .search_form{
    position:relative;
    right:0;
    display:inline-block;
}
.search_form {
    background: rgba(0, 0, 0, 0.7);
    padding: 13px 13px 28px;
    width: 265px;
    right: 100px;
    bottom: 30px;
    position: absolute;
    border-radius: 8px;
    border: 1px solid #111111;
}
.search_form h1 {
    color: #eeeeee;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.search_form select {
    width: 100%;
    color: #444444;
    text-transform: uppercase;
    padding: 8px;
    margin-bottom: 15px;
}
.submit_search {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    background: #ef6e2e;
    border: none;
    width: 100%;
    border-radius: 6px;
    padding: 10px 0;
}
.item img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.home header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
}
header{
    position:relative;
}
.top_bar {
    border-bottom: 1px solid #a6abb5;
    line-height: 46px;
}
.search1 {
    float:right;
    margin-top:11px;
    display:inline-block;
    position:relative;
}
.bread .post{
    border-bottom:none;
}
.post {
    border-bottom: 1px solid #ddd;
    margin-bottom: 30px;
    overflow: hidden;
    padding-bottom: 25px;
}
.search_content{
    margin-bottom:20px;
    overflow:hidden;
}
.search_content img{
    float:left;
    margin-right:15px;
}
.search_content h4{
    display:block;
    margin-bottom:10px;
}
.search_content h4 a{
    color:#124179;
}
input[type=search] {
    width: 100px;
    height: 25px;
    float:left;
    padding:4px 24px 4px 4px;
    border: 1px solid #1568AC;
    font-size: 13px;
    color: #333333;
    vertical-align: bottom;
    border-radius:4px;   
    transition:width 1s;
    -webkit-transition:width 1s; /* Safari */
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    position:relative;
}
input[type=search]:focus {
    border: 1px solid #1D9CC7;
    width: 200px;        
}    
.search_button{
    width: 24px;
    height: 23px;
    border: 0px;    
    cursor: pointer;
    background:url(images/search.png) no-repeat;
    position:absolute;
    right:2px;
    top:1px;
    border-left:1px solid #dddddd;

}
.social_link_wrap{
    border-left: 1px solid #a6abb5;
    overflow:hidden;
}
.social_link {
    float: right;
    margin: 0;
    padding-left:0;
}
.social_link li {
    display: inline-block;
    list-style: none;
    margin-left: 30px;
}
.social_link li:first-child{
}
.social_link li i {
    color: #eeeeee;
    font-size: 22px;
    transition:all 0.6s ease-in-out 0s;
    -webkit-transition:all 0.6s ease-in-out 0s;
}
.social_link li:hover i{
    color:#004600;
    transform: rotate(360deg);
}
.top_contact {
    padding-left: 0;
    margin: 0;
}
.top_contact li a {
    color: #eeeeee;
}
.top_contact li:hover a{
    color:#004600;
}
.top_contact li {
    color: #eeeeee;
    font-size: 13px;
    font-family: 'Lato';
    float: left;
    list-style: none;
}
.top_contact li i {
    margin-right: 8px;
}
.top_contact li~li {
    margin-left: 40px;
}
.welcome_wrap {
    padding: 35px 0;
}
.welcome_content p {
    text-align: center;
}
.read_more {
    text-align: center;
    display: inline-block;
    font-size: 12px;
    color: #026712;
    font-style: italic;
}
.read_more:hover {
    color: #003774;
}
.video {
    border-radius: 100%;
    height: 440px;
    left: 0;
    right:0;
    margin:0 auto;
    overflow: hidden;
    position: absolute;
    margin-top: 30px;
    width: 440px;
}
.why_choose_wrap {
    position: relative;
    min-height: 500px;
}
/*.why_choose_content ul {
        padding-left: 0;
        margin-bottom: 0;
}
.why_choose_content ul li {
        list-style: none;
        overflow: hidden;
        width: 530px;
        position: absolute;
}
.why_choose_content ul li:first-child, .why_choose_content ul li:nth-child(3) {
        left: 6%;
}
.why_choose_content ul li:nth-child(2) {
        left: 0;
}
.why_choose_content ul li:nth-child(3) {
}
.why_choose_content ul li:nth-child(4) {
}
.why_choose_content ul li:nth-child(5) {
        right: 0;
}
.why_choose_content ul li:last-child, .why_choose_content ul li:nth-child(4) {
        right: 6%;
}
.why_choose_content ul li:first-child, .why_choose_content ul li:last-child {
        top: 0px;
}
.why_choose_content ul li:nth-child(2), .why_choose_content ul li:nth-child(5) {
        top: 179px;
}
.why_choose_content ul li:nth-child(3), .why_choose_content ul li:nth-child(4) {
        top: 362px;
}
.why_choose_content ul li:last-child {
        margin-bottom: 0;
}*/
.why_choose_content .block{
    margin-bottom:40px;
    position:relative;
}
.why_choose_content .block:nth-child(5), .why_choose_content .block:last-child{
    margin-bottom:0;
}
.why_choose_content .block:first-child, .why_choose_content .block:nth-child(5){
    right:15px;
}
.why_choose_content .block:nth-child(3){
    right:130px;
}
.why_choose_content .block:nth-child(3) .why_choose_description{
    padding-left: 115px;
}
.why_choose_content .block:nth-child(4) .why_choose_description{
    padding-right: 115px;
}
.why_choose_content .block:nth-child(2), .why_choose_content .block:last-child{
    left:15px;
}
.why_choose_content .block:nth-child(4){
    left:130px;
}
.why_choose_content .block:nth-child(2) .why_choose_description, .why_choose_content .block:nth-child(4) .why_choose_description, .why_choose_content .block:last-child .why_choose_description {
    float: right;
    text-align: left;
}
.why_choose_content .block:nth-child(2) .why_choose_image, .why_choose_content .block:nth-child(4) .why_choose_image, .why_choose_content .block:last-child .why_choose_image {
    float: left;
}
.why_choose_description {
    padding-top: 20px;
    width: 76%;
    float: left;
    text-align: right;
}
.why_choose_image {
    width: 140px;
    height: 140px;
    background: #ffffff;
    border-radius: 100%;
    border: 10px solid #ffffff;
    overflow: hidden;
    position: relative;
    float: right;
}
.why_choose_image i {
    position: absolute;
    color: #ffffff;
    font-size: 35px;
    left: 35%;
    top: 35%;
}
.why_choose_content .block .overlay::before{
    position: absolute;
    color: #ffffff;
    font-family:'FontAwesome';
    font-size: 35px;
    left: 34%;
    top: 30%;
}
.why_choose_content .block:first-child .overlay::before{
    content:'\f0c0';
}
.why_choose_content .block:nth-child(2) .overlay::before{
    content:'\f164';
}
.why_choose_content .block:nth-child(3) .overlay::before{
    content:'\f03e';
}
.why_choose_content .block:nth-child(4) .overlay::before{
    content:'\f19d';
}
.why_choose_content .block:nth-child(5) .overlay::before{
    content:'\f025';
}
.why_choose_content .block:last-child .overlay::before{
    content:'\f046';
}
.overlay {
    position: absolute;
    background: rgba(0, 0 , 0 , 0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    border-radius:100%;
}
.why_choose_image img {
    width: 120px;
    height: 120px;
}
.featured_wrap {
    background: url(images/bg_featured.jpg) no-repeat fixed;
    margin: 50px 0 30px 0;
    padding: 40px 0;
    background-size: cover;
}
.featured_wrap h1 {
    color: #ffffff;
}

.featured_content {
    background: #ffffff;
    padding: 13px 17px;
}
.featured_content h3 a{
    color:#003774;
    font-size:16px;
    font-weight:bold;
}
.featured_content h3:hover a{
    color:#3a8602 ;
}
.featured_content p {
    margin-bottom: 0;
}
.item1 {
    margin: 0px 25px 0 0;
}
.featured_image {
    position: relative;
}
.item1 img {

    height: auto;
}
.days {
    color: #2a2a2a;
    background: #c7d4db;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    padding: 5px 0 0 0;
    text-align: center;
    position: absolute;
    top: -26px;
    right: -16px;
    line-height: 17px;
}
.days span {
    font-size: 17px;
}
.more_wrap {
    width: 45px;
    height: 40px;
    position: absolute;
    background: #3a8602;
    bottom: 0;
    transition: all 0.6s ease-in-out 0s;
    line-height:34px;
    text-align:center;
}
.more_wrap img {
    transition: all 0.6s ease-in-out 0s;
}
.more_wrap:hover {
    background: #055102;
}
.more_wrap:hover img {
    transform: rotate(360deg);
}
.more {

}
.trip {
    position: relative;
}
.trip .text_bar {
    position: absolute;
    top: 0;
    left: 20px;
    background: url(images/bg_trip.png) no-repeat;
    height: 120px;
    width: 175px;
}
.title_bar {
    bottom: 40px;
    left: 50px;
    position: absolute;
}
.title_bar p{
    color: #ffffff;
    font-size: 34px;
    font-family: 'xtreem_medium_demoregular';
    line-height: 50px;
}
.trip > img {
    width: 100%;
    height: auto;
}
.popular_trip_wrap h1 {
    text-transform: uppercase;
    margin-bottom: 5px;
}
.popular_trip_wrap h2 {
    color: #222222;
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    margin-bottom: 37px;
}
.trip_list {
}
.trip_list ul {
    padding-left: 0;
    margin: 0;
}
.trip_list ul li {
    float: left;
    list-style: none;
    margin-right: 30px;
    width: 42%;
    border-bottom: 1px solid #c6c6c6;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.trip_list ul li:nth-child(2n) {
    margin-right: 0;
}
.trip_list ul li:nth-child(5), .trip_list ul li:last-child {
    margin-bottom: 0;
    border-bottom: none;
}
.trip_content {
    float: left;
    width: 150px;
}
.trip_content h4 a{
    color:#333333;
    font-size: 15px;
    font-weight: bold;
}
.trip_content a {
    color: #777777;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 10px;
    display: inline-block;
}
.trip_content i {
    color: #ca982c;
    margin-left: 4px;
}
.trip_image {
    height: 100px;
    width: 100px;
    border: 4px solid #eeeeee;
    overflow: hidden;
    float: left;
    margin-right: 15px;
}
.testimonial_content {
    border: 1px solid #a09191;
    padding: 30px 70px;
    margin: 60px 90px 20px 90px;
    border-radius: 5px;
    position: relative;
}
.icon {
    position: absolute;
    top: -16px;
    left: 45%;
    padding: 2px 10px;
    background: #627571;
}
.icon i {
    color: #ffffff;
    font-size: 24px;
}
.testimonial_wrap h1 {
    color: #ffffff;
}
.testimonial_wrap p {
    color: #eee4e4;
    font-size: 13px;
    text-align: center;
}
.author, .t_place {
    color: #eee4e4;
    font-style: italic;
    text-align: center;
    font-weight: 600;
    margin-top: 5px;
}
#testi .owl-buttons .owl-next{
    right: -15px;
}
.testimonial_wrap {
    padding: 30px 0;
    margin: 30px 0 60px 0;
    background: url(images/bg_testimonial.jpg) no-repeat center center;
    background-size: cover;
}
.three_boxes {
    background: #fff none repeat scroll 0 0;
    padding-bottom: 40px;
    z-index: 6;
}
.box {
    border: 1px solid #cccccc;
    padding: 26px 20px;
    overflow: hidden;
    margin-bottom: 10px;
}
.box1 {
    border: 1px solid #cccccc;
    padding: 20px;
    overflow: hidden;
}
.box_image {
    width: 65px;
    float: left;
    margin-right: 20px;
}
.affiliated {
    width: 100% !important;
}
.affiliated ul {
    padding-left: 0;
    margin-bottom: 0;
}
.affiliated ul li {
    list-style: none;
    float: left;
    margin-right: 12px;
    height: 50px;
    line-height: 50px;
}
.affiliated ul li:last-child {
    margin-right: 0;
}
.box_content {
    width: 230px;
    float: left;
    position: relative;
}
.box_content h2 {
    font-size: 17px;
}
.box_content p {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
}
.box_content a {
    color: #bf7f1c;
}
.newsletter, .wysija-input {
    color: #9f9c9c;
    font-size: 12px;
    border: 1px solid #bbbbbb;
    padding: 5px;
    margin-top: 5px;
    width: 100%;
}
.submit_newsletter, .wysija-submit {
    background: #0b670d url(images/arrownews.png) no-repeat center center;
    border: none;
    padding: 5px;
    width: 34px;
    position: absolute;
    bottom: 0;
    right: 0;
}
footer {
    padding: 30px 0 150px 0;
    background: #1b416d url(images/bg_footer.png) no-repeat center bottom;
    position:relative;
    z-index:10;
}
footer h1 {
    text-align: left;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}
.contact_us ul {
    padding-left: 0;
    margin: 0;
}
.contact_us ul li {
    list-style: none;
    color: #d2d2d2;
    font-size: 14px;
    margin-bottom: 10px;
}
.contact_us ul li a {
    color: #d2d2d2;
    font-size: 14px;
}
.contact_us ul li:hover a{
    color:#ffffff;
}
.contact_us ul li i {
    margin-right: 8px;
}
.site_links ul {
    margin-bottom: 0;
    padding-left: 18px;
}
.site_links ul li {
    float: left;
    width: 44%;
    margin-right: 20px;
    line-height: 32px;
    list-style-image: url(images/list.png);
}
.site_links ul li a {
    color: #d2d2d2;
    font-size: 14px;
}
.we_accept {
    display: inline-block;
}
.copyright {
    margin: 35px 0;
}
.copyright p {
    color: #d2d2d2;
    font-size: 14px;
    margin-bottom: 0;
}
.copyright p span {
    color: #ffffff;
}
.day_trip {
    border-top: 1px solid #cccccc;
    margin-top: 30px;
    padding-top: 50px;
}
.day_trip h1 {
    text-transform: uppercase;
}
.day_trip ul {
    padding-left: 0;
    margin-bottom: 0;
}
.day_trip ul li {
    list-style: none;
    float: left;
    margin-right: 30px;
}
.trip_wrap {
    position: relative;
    padding: 94px 17px 35px 17px;
    border: 1px solid #a8a8a8;
    margin-right: 30px;
    text-align: center;
    min-height:277px;
}
.trip_wrap p {
    margin-bottom: 0;
    font-size: 13px;
}
.trip_wrap h3, .trip_wrap h3 a {
    color: #003774;
    font-size: 16px;
    font-weight: bold;
}
.trip_wrap h3:hover a{
    color:#3a8602;
}
#news .trip_wrap h3, #news .trip_wrap h3 a {
    color: #333333;
}
#news .trip_wrap h3:hover a{
    color:#003774;
}
#trip .owl-buttons {
}
#trip .owl-buttons .owl-prev {
    background: #e8e8e8 url(images/prev.png) no-repeat center center;
    border-radius: 4px;
    padding: 15px;
    top: -44px;
    left: 40%;
}
#trips .owl-buttons .owl-next {
    background: #e8e8e8 url(images/next.png) no-repeat center center;
    border-radius: 4px;
    padding: 15px;
    top: -44px;
    right: 40%;
}
#trip .owl-buttons .owl-prev {
    background: #e8e8e8 url(images/prev.png) no-repeat center center;
    border-radius: 4px;
    padding: 15px;
    top: -44px;
    left: 30%;
}
#trip .owl-buttons .owl-next {
    background: #e8e8e8 url(images/next.png) no-repeat center center;
    border-radius: 4px;
    padding: 15px;
    top: -44px;
    right: 30%;
}
#news .owl-buttons .owl-prev {
    background: #e8e8e8 url(images/prev.png) no-repeat center center;
    border-radius: 4px;
    padding: 15px;
    top: -44px;
    left: 35%;
}
#news .owl-buttons .owl-next {
    background: #e8e8e8 url(images/next.png) no-repeat center center;
    border-radius: 4px;
    padding: 15px;
    top: -44px;
    right: 35%;
}
.day_trip_image {
    border: 6px solid #97abc6;
    border-radius: 100%;
    width: 176px;
    height: 176px;
    overflow: hidden;
    position: absolute;
    top: -90px;
    left: 14%;
}
#news .day_trip_image {
    border-radius: 0;
}
.news_content img {
    float: left;
    border: 3px solid #97abc6;
    width: 120px;
    height: auto;
    margin-right: 10px;
}
.news_date {
    font-weight: bold;
    color: #315f9c;
    font-size: 12px;
}
.news_date i {
    color: #ca982c;
    margin-right: 5px;
}
.read_wrap {
    margin-right: 30px;
    text-align: center;
}
.read {
    background: #256ebe;
    display: inline-block;
    font-size: 12px;
    color: #ffffff;
    padding: 12px;
    border-bottom: 3px solid #1458a2;
    transition: all 0.6s ease-in-out 0s;
}
.read span {
    margin-left: 6px;
}
.read:hover {
    background: #054fa0;
    border-bottom: 3px solid #0e3e73;
}
.smaller .second_top_bar, .smaller{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
    background: rgba(25, 108, 184, 0.9);
    width: 100%;
}
/* css for accordion */

.accordion-container {
    width: 100%;
    margin: 0 0 5px;
    clear: both;
}
.accordion-toggle {
    position: relative;
    display: block;
    padding: 12px 20px;
    font-size: 1.5em;
    font-weight: 300;
    background: #f3f3f3;
    color: #fff;
    text-decoration: none;
}
.accordion-toggle.open {
    background: #4171aa;
    color: #fff;
}
.accordion-toggle.open h3, .accordion-toggle:hover h3, .accordion-toggle:hover .toggle-icon i, .accordion-toggle.open .toggle-icon i, .accordion-toggle.open p, .accordion-toggle:hover p {
    color: #ffffff;
}
.accordion-toggle:hover {
    background: #4171aa;
}
.accordion-toggle span.toggle-icon {
    position: absolute;
    right: 20px;
    font-size: 1.5em;
}
.accordion-content {
    display: none;
    padding: 20px;
    overflow: auto;
    border: 1px solid #c1baba;
    border-top: none;
}
.accordion-content img {
    display: block;
    float: left;
    margin: 0 15px 10px 0;
    max-width: 100%;
    height: auto;
}
.accordion-toggle p {
    margin-bottom: 0;
    margin-left: 33px;
}
.toggle-icon i {
    color: #c1baba;
    font-size: 20px;
}
.accordion-toggle h3 {
    display: inline-block;
    color: #333333;
    font-size: 17px;
    margin-bottom: 4px;
}
.days_count {
    background: rgba(0, 0, 0, 0) url("images/bg_days.png") no-repeat scroll 1px 0;
    color: #333333;
    display: inline-block;
    font-size: 10px;
    height: 29px;
    padding-top: 3px;
    text-align: center;
    width: 22px;
    margin-right: 10px;
}
.accordion-toggle.open .days_count, .accordion-toggle:hover .days_count, .ui-state-active .days_count, .ui-accordion-header:hover .days_count {
    background: url(images/bg_dayshover.png) no-repeat scroll 1px 0;
    color: #ffffff;
}
.ui-accordion-header:hover .header_text{
    color:#ffffff;
}
/* end accordion toggle css */

/* start inner page css */
.inner_header {
    position: relative;
}
.navbar-inverse {
    background: #398cd8;
}
.home .navbar-inverse {

    background-color: rgba(35, 123, 211, 0.6);
}
.breadcrumb_wrap {
    margin: 35px 0;
}
.bread ul {
    padding-left: 0;
    margin: 0;
}
.bread ul li {
    float: left;
    list-style: none;
    background: url(images/bg_bread.png) no-repeat right 9px;
    margin-right: 15px;
    padding-right: 25px;
}
.bread ul li:last-child {
    background: none;
    padding-right: 0;
    padding-right: 0;
}
.bread a {
    color: #555555;
    font-size: 13px;
}
.bread ul li:hover a {
    color: #2c2c2c;
}
.inner_title h1 {
    color: #124179;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 35px;
}
.inner_slider_wrap {
    margin-bottom: 40px;
}
.trek_detail ul {
    padding-left: 0;
    margin-bottom: 0;
    box-shadow: 0 0 2px 1px #969696;
}
.trek_detail ul li {
    list-style: none;
    color: #555555;
    font-size: 15px;
    padding: 15px 20px;
    border-bottom: 1px solid #dddddd;
    overflow: hidden;
}
.trek_detail ul li span {
    color: #1c4f8c;
}
.trek_detail ul li .review {
    margin-left: 22px;
}
.trek_detail ul li:last-child {
    border-bottom: none;
}
.altitude span {
    margin-left: 35px;
}
.trip_type span {
}
.left_trip_type {
    margin-top: 18px;
    float: left;
}
.trip_type .day {
    text-align: center;
    width: 55px;
    color: #ffffff;
    font-size: 16px;
    background: #1c4f8c;
    text-transform: uppercase;
    padding: 10px 0;
    display: inline-flex;
    float:left;
}
.trip_type .trip_tite{
    float:left;
    width:65px;
    color:#555555;
}
.trip_type .trip_ty{
    float:left;
    width:190px;
    margin-left:10px;
    color: #757575;
}
.review.level {
    width: 91px;
    text-indent: -999px;
    height: 15px;
    float: right;
    margin-top: 5px;
}
.review.level1 {
    background: url(images/review.png) no-repeat center 1px;
}
.review.level2 {
    background: url(images/review.png) no-repeat center -14px;
}
.review.level3 {
    background: url(images/review.png) no-repeat center center;
}
.review.level4 {
    background: url(images/review.png) no-repeat center -44px;
}
.review.level5 {
    background: url(images/review.png) no-repeat center bottom;
}
.grade {
    width: 96px;
    text-indent: -999px;
    height: 33px;
    float: left;
    margin-left: 22px;
}
.left_text {
    float: left;
    padding-top: 3px;
    color: #555555 !important;
}
.text1 {
    float: right;
    color: #004600;
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 4px;
}
.grade.grade1 {
    background: url(images/grade.png) no-repeat center 1px;
}
.grade.grade2 {
    background: url(images/grade.png) no-repeat center -33px;
}
.grade.grade3 {
    background: url(images/grade.png) no-repeat center center;
}
.grade.grade4 {
    background: url(images/grade.png) no-repeat center -101px;
}
.grade.grade5 {
    background: url(images/grade.png) no-repeat center bottom;
}
.last_block {
    background: #f5f5f5;
    text-align: center;
}
.last_block h1 {
    color: #46700e;
    font-size: 24px;
    margin-bottom: 3px;
}
.last_block p {
    font-size: 15px;
    color: #393939;
    text-align: center;
    margin-bottom: 20px;
    line-height: 35px;
}
.last_block p span {
    color: #46700e !important;
    font-size: 27px;
    font-style: italic;
    font-weight: bold;
}
.date_price {
    background: #106710 url(images/date_price.png) no-repeat 90% center;
    border-radius: 5px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    display: inline-block;
    padding: 14px 35px 14px 20px;
    margin: 8px 0;
    box-shadow: 0 2px 3px 1px #b3b3b3;
}
.inner_content {
    margin-bottom: 40px;
}
.side_menu ul {
    padding-left: 0;
    margin-bottom: 0;
    overflow: hidden;
    border-top: 5px solid #106710;
    border-bottom: 5px solid #106710;
    box-shadow: 0px 2px 2px 1px #cccccc;
}
.side_menu ul li {
    list-style: none;
    overflow: hidden;
    text-align: right;
    border-bottom: 1px solid #dedede;
    color: #555555;
    font-size: 18px;
    font-weight: bold;
    padding:12px 25px;
}
.side_menu ul li a {
    color: #555555;
    display:block;
}

.side_menu ul li:last-child {
    border-bottom: none;
}
.side_menu ul li .active {
    background: #f3f3f3;
}
.side_menu ul li.resp-tab-active, .side_menu ul li:hover {
    color: #114481;
    background: #f3f3f3 url(images/bg_current.png) no-repeat 96% 56%;
}
.side_menu1 ul {
    padding-left: 0;
    margin-bottom: 0;
    overflow: hidden;
    border-top: 5px solid #106710;
    border-bottom: 5px solid #106710;
    box-shadow: 0px 2px 2px 1px #cccccc;
}
.side_menu1 ul li {
    list-style: none;
    overflow: hidden;
    text-align: right;
    border-bottom: 1px solid #dedede;
    color: #555555;
    font-size: 18px;
    font-weight: bold;
}
.side_menu1 ul li a {
    color: #555555;
    display:block;
    padding:12px 25px;
}

.side_menu1 ul li:last-child {
    border-bottom: none;
}
.side_menu1 ul li .active {
    background: #f3f3f3;
}
.side_menu1 ul li a.active, .side_menu1 ul li:hover a{
    color: #114481;
    background: #f3f3f3 url(images/bg_current.png) no-repeat 96% 56%;
}
.mid_content ul, .mid_content ol {
    padding-left: 16px;
    overflow: hidden;
}
.mid_content ul li {
    color: #555555;
    font-size: 16px;
    line-height: 30px;
    list-style-image: url(images/bg_bread.png);
}
.map {
    border: 1px solid #cecece;
}
.photos_list {
    margin-top: 30px;
}
.photos_list h2 {
    color: #30537c;
    font-size: 17px;
    font-weight: bold;
    text-transform: none;
}
.photos_list ul {
    padding-left: 0;
    margin-bottom: 0;
    overflow: hidden;
}
.photos_list ul li {
    list-style: none;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 150px;
    height: auto;
    position: relative;
    transition: all 0.6s ease-in-out 0s;
    overflow: hidden;
}
.photos_list ul li:nth-child(2n) {
    margin-right: 0;
}
.photos_list .over {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -175px;
    left: 0;
    background: rgba(0, 0 , 0, 0.6);
    transition: all 0.6s ease-in-out 0s;
}
.photos_list ul li:hover .over {
    top: 0;
}
.photos_list span {
    position: absolute;
    top: 42%;
    left: -46%;
    transition: all 0.7s ease-in-out 0s;
}
.photos_list ul li:hover span {
    left: 46%;
}
.photos_list span i {
    color: #ffffff;
    font-size: 20px;
}
.image_view {
    color: #30537c;
    font-size: 12px;
    text-decoration: underline;
    background: url(images/bg_imageview.png) no-repeat right 7px;
    padding-right: 8px;
}
.mid_content h1 {
    color: #106710;
    font-weight: bold;
    font-size: 23px;
    text-align: left;
}
.mid_content h2 {
    color: #555555;
    font-size: 18px;
    font-weight: bold;
    text-transform: none;
    margin-top:15px;

}
.accomodation img {
    float: left;
    margin-right: 15px;
    border: 4px solid #97ABC6;
}
.trip_note {
    margin-top: 20px;
    padding: 10px 15px !important;
}
.trip_note .box_content {
    width: 280px;
}
.dash_bar {
    border-top: 1px dashed #ccc;
    width: 100%;
    margin-bottom: 20px;
}
.inner_gallery ul {
    padding-left: 0;
    margin-bottom: 0;
    overflow: hidden;
}
.inner_gallery ul li {
    list-style: none;
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 150px;
    height: auto;
    position: relative;
    transition: all 0.6s ease-in-out 0s;
    overflow: hidden;
}
.inner_gallery ul li:nth-child(5n) {
    margin-right: 0;
}
.inner_gallery .over {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -175px;
    left: 0;
    background: rgba(0, 0 , 0, 0.6);
    transition: all 0.6s ease-in-out 0s;
}
.inner_gallery ul li:hover .over {
    top: 0;
}
.inner_gallery span {
    position: absolute;
    top: 42%;
    left: -46%;
    transition: all 0.7s ease-in-out 0s;
}
.inner_gallery ul li:hover span {
    left: 46%;
}
.inner_gallery span i {
    color: #ffffff;
    font-size: 20px;
}
.review_wrap ul {
    padding-left: 0;
}
.review_star {
    overflow: hidden;
}
.review_star .review {
    float: left;
}
.written_date {
    float: right;
    position: relative;
}
.written_date::before{
    position: absolute;
    content: '\f073';
    font-family: 'FontAwesome';
    left: -30px;
    color: #106710;
    
}
.review_wrap ul li {
    list-style: none;
    overflow: hidden;
    margin-bottom: 30px;
    border: 1px solid #dedede;
    padding: 10px;
}
.reviewser {
    width: 150px;
    float: left;
    margin-right: 20px;
    overflow: hidden;
}
.reviewser img {
    border: 4px solid #97ABC6;
    width: 100%;
    height: auto;
}
.review_content {
    width: 79%;
    float: left;
}
.review_name {
    line-height: 17px;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
.review_address{
    text-align: center;
}
.video_wrap {
    padding-left: 0 !important;
}
.video_wrap li {
    list-style: none !important;
    float: left;
    margin-right: 25px;
    margin-bottom: 12px;
    width: 48%;
}
.video_wrap li iframe {
    width: 100%;
}
.video_wrap li:nth-child(2n) {
    margin-right: 0;
}
.date_price_wrap table {
    width: 100%;
    margin-top: 20px;
}
.date_price_wrap table th, .date_price_wrap td {
    border: 1px solid #cdcdcd;
    padding: 12px 8px;
    font-size: 15px;
}
.date_price_wrap table tr:nth-child(2n) {
    background: #f8f8f8;
}
.book_now {
    color: #46700e;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}
.give_reviews {
    background: #106710 url(images/date_price.png) no-repeat 90% 52%;
    border-radius: 5px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    display: inline-block;
    padding: 14px 35px 14px 20px;
    margin: 0;
    box-shadow: 0 2px 3px 1px #b3b3b3;
    transition: all 0.6s ease-in-out 0s;
}
.give_reviews:hover {
    background-color: #1a6db9;
}
.menu {
    position: absolute;
    right: 1px;
    top: 100px;
    z-index: 999999;
}
.book_trip {
    background: rgba(26, 109, 185, 0.7) url(images/date_price.png) no-repeat 90% 52%;
    border-radius: 5px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    display: inline-block;
    padding: 8px 35px 8px 20px;
    margin: 0;
    box-shadow: 0 2px 0 #1a6db9;
    transition: all 0.6s ease-in-out 0s;
}
/* inner css end */
/* for about page css */
/* ######################################################### */
.about_text{
    font-size:19px;
    color:#555555;
}
.ropa {
    background:url(images/rope.png) repeat-x scroll 0 0;
    border: 0 none;
    height: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.image_full {
    margin-bottom: 30px;
    position:relative;
}
.image_full  img{
    width:100%;
    height:auto;
}
.activity_country{
    background: #dfdfdf none repeat scroll 0 0;
    left: 2%;
    padding: 10px;
    position: absolute;
}

.staff_climber{
}
.staff_climber ul{
    padding-left:0;
    display: inline-block;
    margin-top: 20px;
}
.staff_climber ul li{
    list-style: outside none none;
    margin-bottom: 30px;
    overflow: hidden;
}
.staff_image{
    float:left;
    margin-right:20px;
}
.staff_image img{
    border-radius:50%;
    border:4px solid #ddd;
}
.staff_body{
    overflow:hidden;
    padding-top:10px;
}
.staff_body h5 span{
    color: #999;
    font-size: 13px;
    font-weight: 400;
    margin-left: 10px;
}
.site_day_trip{
    margin-bottom:30px;
}
.site_day_trip ul{
    overflow:hidden;
    padding-left:0;
}
.site_day_trip ul li{
    list-style:none;
    border-bottom:1px dashed #dddddd;
    padding-bottom:12px;
    margin-bottom:10px;
    position:relative;
}

.site_day_trip ul li a::after{
    float:right;
    content:"\f105";
    font-family:"FontAwesome";
    position:absolute;
    right:0px;
    transition:all 0.5s ease-in-out;
}
.site_day_trip ul li:hover a::after{
    right:10%;
}

.site_day_trip ul li a{
    color:#013a77;
    display:block;
    font-weight:bold;
}
.site_day_trip ul li:hover a{
    color:#004600;
}
.site_testimonials{
    margin-bottom:30px;
}
.site_testimonial_wrap{
    background:#f0f0f0 ;
    padding:10px;
    border-radius:10px;
    
    margin-bottom:10px;
}
.site_testimonial_wrap p{
    text-indent: 25px;
}
.test_comma{
    position:absolute;

}
.site_testimonial_wrap .author, .site_testimonial_wrap .t_place{
    color:#555555;
}
#testi1 .owl-wrapper-outer{
    padding-top: 10px !important;
}
#testi1 .owl-buttons .owl-prev{
    left: 0px;
    top: 90%;
}
#testi1 .owl-buttons .owl-next{
    top: 90%;
}
.why_choose_us{
    margin-bottom:30px;
}
.why_choose_us ul{
    padding-left:0;
}
.why_choose_us ul li:before{
    position:absolute;
    content:"\f105";
    font-family:"FontAwesome";
    left:0;
}
.why_choose_us ul li{
    list-style:none;
    border-bottom:1px dashed #ddd;
    line-height:40px;
    color:#004600;
    font-weight:bold;
    position:relative;
    padding-left:15px;
}
.why_choose_us ul li:last-child{
    border-bottom:none;
}
/* css for tour page */
.tour_wrap{
    padding-left:0;
    overflow:hidden;
}
.tour_wrap li{
    list-style:none;
    overflow:hidden;
    margin-bottom:20px;
}
.tour_wrap .image_full{
    background: #dfdfdf none repeat scroll 0 0;
    box-shadow:0px 1px 1px 0px #dddddd;
}
.tour_body{
    background: #f2f2f2 none repeat scroll 0 0;
    min-height: 335px;
    padding: 50px 29px;
    box-shadow:0px 1px 1px 0px #dddddd;
}
.tour_body h2{
    text-align:center;
}
.tour_body .read{
    text-align:center;
    margin-top:20px;
    padding:10px 20px;
}
.tour_wrap li .tour_image{
    padding-right:0;
}
.tour_wrap li .tour_content{
    padding-left:0;
}
.tour_wrap li:nth-child(2n) .tour_image{
    float:right;
    padding-left:0;
    padding-right:15px;
}
.tour_wrap li:nth-child(2n) .tour_content{
    padding-right:0;
    padding-left:15px;
}

.wrap_more{
    text-align:center;
}
.trekking_wrap{
    overflow:hidden;
    padding-left:0;
}
.trekking_wrap li{
    list-style:none;
}
.trekking_content{
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.18);
    margin-bottom:10px;
    display:inline-block;
    text-align:center;
    background:#F3F3F3;
    margin-bottom:30px;
}
.trekking_content .read{
    margin:10px 0 20px;
}
.trekking_content h2{
    margin-top:20px;
    color:#004600;
}
.trekking_content h2 a{
    color:#004600;
}
.trekking_content p{
    padding:10px 8px;
}
.package_wrap{
    padding-left:0;
}
.package_wrap li{
    border: 1px solid #ddd;
    float: left;
    list-style: outside none none;
    margin-right: 10px;
    padding: 10px;
    margin-bottom:10px;
}
.package_wrap li:nth-child(2n) {
    margin-right:0;
}
.package_image{
    float: left;
    margin-right: 10px;
    width: 135px;
    overflow:hidden;
}
.package_image img{
    border:1px solid #dddddd;
    border-radius:5px;
}
.package_body{
    float: left;
    width: 250px;
}
.package_body p{
    font-size:13px;
    line-height:18px;
}
.package_body h3 a{
    color:#003774;
}
.trip_inner{
    overflow:hidden;
}
.trip_inner ul{
    overflow:hidden;
    padding-left:0;
}
.trip_inner ul li{
    float:none;
    border:none;
    overflow:hidden;
    margin:0;
    padding:3px 0;
}
.altitude_wrap .right_text{
    float:right;
    color:#f17703;
}
.trip_review{
    overflow:hidden;
}
.trip_inner .left_text{
    padding:0;
    color: #222222 !important;
    font-weight: 600;
}
.trip_wrap1{
    overflow:hidden;
}
.trip_wrap1 .grade{
    float:right;
    margin-top:4px;
    margin-left:0;
}
.altitude_wrap{
}
/* Css for contact page */
/*####################################################*/
.wpcf7-form-control-wrap {
    display: block;
    margin-bottom: 20px;
}
.input_text{
    border: 1px solid #ccc;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.75);
    font-size: 16px;
    padding: 8px;
    width: 100%;
}
.submit_form{
    padding:10px 10px;
    width:150px;
    color:rgba(0, 0, 0, 0.75);
    font-size:15px;
    background: #2F7ABF;
    border-radius: 10px;
    border: none;
    color: #ffffff;
}
.submit_form:hover{
    background: #004085;
}
.inner_contact ul{
}
.inner_contact ul li{
    color:#013a77;
    line-height:40px;
    font-weight:bold;
}
.inner_contact ul li a{
    color:#013a77;
}
.inner_contact ul li:hover a{
    color:#004600;
}
.map_wrap{
    margin-top:30px;
}
.trip_highlight{
    padding-left:15px;
    overflow:hidden;
}
.trip_highlight li{
    line-height:25px;
    list-style-image:url(images/bg_current.png) ;
}
.hms-testimonial-template-26{
    background: #f0f0f0 none repeat scroll 0 0;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 10px 20px;
}
.hms-testimonial-template-26 .author{
    margin-right:15px;
    float:left;
    color:#555555;
}
.hms-testimonial-template-26 .cf-place{
    float:left;
    color:#555555;
}
.hms-testimonial-template-26 .testimonial{
    display:inline-block;
}
.review_form .form-group{
    overflow: hidden;
}
.form-control1{
    height: auto;
}
.radio_button input:first-child{
    margin-left: 0;
}
.radio_button input{
    margin-left: 10px;
    margin-right: 4px;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
.pagination .current {
    background: #c0c0c0 none repeat scroll 0 0;
    padding: 6px 10px;
    border-right: 1px solid #ddd;
}
.pagination .inactive {
    background: #eee none repeat scroll 0 0;
    padding: 6px 10px;
}
 .pagination a {
    background: #eee none repeat scroll 0 0;
    padding: 6px 10px;
    border-right: 1px solid #ddd;
}
.pagination a:last-child{
    border-right: none;
}



/* media query for mobile */
@media (max-width: 767px) {
    .content {
        width: auto;
    }
    .accordion-content {
        padding: 10px 0;
        overflow: inherit;
    }
}

/*---------Media Query Devices--------------*/
@media only screen and (min-width : 320px) and (max-width : 1024px) {
    .banner-wrapper {
        width: 100%;
    }
    .video{
        position:relative;
        height:300px;
        width:300px;
    }
    .why_choose_content .block:first-child, .why_choose_content .block:nth-child(5){
        right:0;
    }
    .why_choose_content .block:nth-child(2), .why_choose_content .block:last-child{
        left:0;
    }
    .why_choose_content .block:nth-child(3){
        right:0;
    }
    .why_choose_content .block:nth-child(4){
        left:0;
    }
    .why_choose_description{
        text-align: left;
        width: 100%;
        
    }
    .why_choose_image{
        float: left;
    }
    .jwplayer.playlist-none.jw-user-inactive {
    width: 300px !important;
    height: 300px !important;
    }
    .why_choose_content .block:nth-child(3) .why_choose_description{
    padding-left: 15px;
    }
    .why_choose_content .block:nth-child(4) .why_choose_description{
        padding-right: 15px;
    }
}
@media only screen and (min-width : 320px) and (max-width : 700px) {
    .no_right_padding{
        padding-right:15px;
    }
    .no_left_padding{
        padding-left:15px;
    }
    .tab-block img{
        display:none;
    }
    .tab-block p{
        display:none;
    }

    .why_choose li {
        width: 100%;
    }
    header {
        position: relative;
    }
    .social_link {
        padding-left: 0;
    }
    .top_contact li ~ li {
        margin-left: 6px;
    }

    .nav > li {
        margin-right: 20px;
    }
    .dash_bar {
        width: 91%;
        margin-top: 10px;
    }
    .powered {
        float:none;
        margin-top: 5px;
    }
    footer h1{
        text-align:center;
    }
    footer{
        text-align:center;
    }
    .site_links ul li{
        width:100%;
    }
    
}
@media all and (min-width:960px) and (max-width: 1024px) {
    /* put your css styles in here */
    .day_trip_image{
        left:6%;
    }
    .why_choose_description{
        width:85%;
    }
    .social_link li{
        margin-left:20px;
    }
    .top_contact li ~ li{
        margin-left:10px;
    }
    .top_contact li{
        font-size:12px;
    }

    .nav > li > a{
        padding-left:10px;
        padding-right:10px;
    }
    .why_choose_description br{
        display: none;
    }
    .why_choose_content .block:nth-child(2) .why_choose_description, .why_choose_content .block:nth-child(4) .why_choose_description, .why_choose_content .block:last-child .why_choose_description{
        float: left;
    }
     .day_trip_image{
        width: auto;
        height: auto;
    }
    .day_trip_image img{
        width:100%;
        height: auto;
    }
     #news .owl-buttons .owl-prev, #trip .owl-buttons .owl-prev{
        left: 10%;
    }
    #news .owl-buttons .owl-next, #trip .owl-buttons .owl-next{
        right: 10%;
    }
    .trip_list ul li:nth-child(5), .trip_list ul li:last-child{
        display: none;
    }
    .site_testimonials, .why_choose_us, .site_day_trip{
        overflow: hidden;
    }
    .review_content{
        width: 74%;
    }
}
@media all and (min-width:801px) and (max-width: 959px) {
    /* put your css styles in here */



}
@media all and (min-width:769px) and (max-width: 800px) {
    /* put your css styles in here */



}
@media all and (min-width:768px) and (max-width: 768px) {
   .no_left_padding {
        padding-left: 15px;
    }
    .day_trip_image{
        left:0%;
    }
    .social_link li{
        margin-left:10px;
    }
     .nav > li > a{
        padding-left:10px;
        padding-right:10px;
    }
    .why_choose_description h2{
        font-size: 17px;
    }
     .why_choose_description br{
        display: none;
    }
    .day_trip_image{
        width: auto;
        height: auto;
    }
    .day_trip_image img{
        width:100%;
        height: auto;
    }
     #news .owl-buttons .owl-prev, #trip .owl-buttons .owl-prev{
        left: 10%;
    }
    #news .owl-buttons .owl-next, #trip .owl-buttons .owl-next{
        right: 10%;
    }
    .trip_list ul li:nth-child(5), .trip_list ul li:last-child{
        display: none;
    }
    .why_choose_us ul li{
        overflow: hidden;
    }
    .review_content{
        width: 74%;
    }
}
@media all and (min-width:568px) and (max-width: 600px){
    .review_content{
        width: 64%;
    }
}
@media all and (min-width: 736px)  and (max-width: 736px){
    .review_content{
        width: 71%;
    }
}
@media all and (min-width:568px) and (max-width: 736px) {
    /* put your css styles in here */
    
    .social_link_wrap{
        float: left;
        border-left: none;
    }
    .social_link li:first-child{
        margin-left: 0;
    }
    .search1{
        float: left;
    }
    .nav > li > a{
        padding-left:10px;
        padding-right:10px;
    }
    .tour_wrap li:nth-child(2n) .tour_content{
        padding-left: 15px;
        padding-right: 15px
    }
    .tour_wrap li:nth-child(2n) .tour_image{
        float: none;
        padding-left: 15px;
        padding-right: 15px;    
    
    }

    .tour_wrap li .tour_content{
        padding-left: 15px;
    }
    .tour_wrap li .tour_image{
        padding-right: 15px;
    }
    .tour_wrap .image_full{
        margin-bottom: 0;
    }
    .search_form{
        display:none;
    }
    .pull-right{
        float:left !important;
        padding-left:20px;
    }
    .site_testimonials, .why_choose_us, .site_day_trip{
        overflow: hidden;
    }
}
@media all and (min-width:481px) and (max-width: 568px) {
    /* put your css styles in here */
    .no_left_padding {
        padding-left: 15px;
    }
    .nav-tabs .fa.fa-angle-right{
        display: none;
    }
}
@media all and (min-width:321px) and (max-width: 480px) {
    .dropdown-menu .nav-tabs > li.active > a, .dropdown-menu .nav-tabs > li.active > a:focus, .dropdown-menu .nav-tabs > li.active > a:hover{
        background-color: transparent;
    }
    .nav-tabs .fa.fa-angle-right{
        display: none;
    }
    #news .owl-buttons .owl-prev, #trip .owl-buttons .owl-prev{
        left: 10%;
    }
    #news .owl-buttons .owl-next, #trip .owl-buttons .owl-next{
        right: 10%;
    }
    .tour_wrap .image_full{
        margin-bottom: 0;
    }
    .tour_wrap li:nth-child(2n) .tour_content{
        padding-left: 15px;
        padding-right: 15px
    }
    .tour_wrap li:nth-child(2n) .tour_image{
        float: none;
        padding-left: 15px;
        padding-right: 15px;    
    
    }

    .tour_wrap li .tour_content{
        padding-left: 15px;
    }
    .tour_wrap li .tour_image{
        padding-right: 15px;
    }
    .testimonial_content{
        margin:0;
    }
    .trekking_content > img{
        width:100%;
    }
    .no_right_padding{
        padding-right:15px;
    }
    .no_left_padding{
        padding-left:15px;
    }


    .pull-right{
        float:left !important;
        padding-left:20px;
    }
    footer h1{
        text-align:center;
    }
    footer{
        text-align:center;
    }
    .site_links ul li{
        width:100%;
    }
    .powered {
        float:none;
    }
    .top_contact{
        text-align:center;
    }
    .top_contact li{
        float:none;
    }
    .top_bar{
        line-height:35px;
    }
    .search_form{
        display:none;
    }
    .inner_gallery ul li{
        width:100%;
    }
    .inner_gallery ul li img{
        width:100%;
        height:auto;
    }
    .video_wrap li{
        width:100%;
    }
    .photos_list ul li{
        width:100%;
    }
    .photos_list ul li img{
        width:100%;
        height:auto;
    }
    .home .navbar-inverse{
        background: #398cd8;
    }
    .home header{
        position: relative;
    }
    .social_link_wrap{
        border-left: none;
    }
    .jwplayer.playlist-none.jw-user-inactive {
    width: 300px !important;
    height: 300px !important;
    }
}
@media all and (min-width:0px) and (max-width: 320px) {
    /* put your css styles in here */ 
    
    .social_link_wrap{
        border-left: none;
    }
    .home .navbar-inverse{
        background: #398cd8;
    }
    .home header{
        position: relative;
    }
    #news .owl-buttons .owl-prev, #trip .owl-buttons .owl-prev{
        left: 10%;
    }
    #news .owl-buttons .owl-next, #trip .owl-buttons .owl-next{
        right: 10%;
    }
    .testimonial_content{
        margin:0;
    }
    .trekking_content > img{
        width:100%;
    }
    .no_right_padding{
        padding-right:15px;
    }
    .no_left_padding{
        padding-left:15px;
    }
    .pull-right{
        float:left !important;
        padding-left:20px !important;
    }
    .powered {
        float:none;
        margin-top: 5px;
    }
    footer h1{
        text-align:center;
    }
    footer{
        text-align:center;
    }
    .site_links ul li{
        width:100%;
    }
    .top_contact{
        text-align:center;
    }
    .top_contact li{
        float:none;
    }
    .top_bar{
        line-height:25px;
    }
    .search_form{
        display:none;
    }
    .inner_gallery ul li{
        width:100%;
    }
    .inner_gallery ul li img{
        width:100%;
        height:auto;
    }
    .video_wrap li{
        width:100%;
    }
    .photos_list ul li{
        width:100%;
    }
    .photos_list ul li img{
        width:100%;
        height:auto;
    }
    .social_link_wrap{
        overflow:visible;
        display:block;
    }
    .tour_wrap li:nth-child(2n) .tour_content{
        padding-left: 15px;
        padding-right: 15px
    }
    .tour_wrap li:nth-child(2n) .tour_image{
        float: none;
        padding-left: 15px;
        padding-right: 15px;    
    
    }

    .tour_wrap li .tour_content{
        padding-left: 15px;
    }
    .tour_wrap li .tour_image{
        padding-right: 15px;
    }
    .tour_wrap .image_full{
        margin-bottom: 0;
    }
}
@media all and (min-width:0px) and (max-width: 480px) {
    .search_center{
        text-align: center;
    }
    .search1{
        float: none;
    }
    .social_link_wrap{
        text-align: center;
    }
    .social_link{
        float: none;
    }
    .social_link li:first-child{
        margin-left: 0;
    }
    .why_choose_content .block:nth-child(3) .why_choose_description{
    padding-left: 15px;
    }
    .why_choose_content .block:nth-child(4) .why_choose_description{
        padding-right: 15px;
    }
    .review_content{
        width: 100%;
    }
}
@media all and (min-width:0px) and (max-width: 736px) {
    .trip{
        margin-bottom: 20px;
    }
    .small_screen .no_left_padding {
        padding-left: 15px;
    }
    .wizard > .steps > ul > li{
        width: 100% !important;
    }
}
